<div style="margin: 10px">
  <form [formGroup]="audienceForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="row">
    <div class="col-6 left-column">
         <!--style=style="overflow-y:scroll;height:300px;background-color: cornsilk"-->
      <div class="sectionsInfo" id="personalInfo">
        <p>Personal Information</p>
        <div class="row">
          <div id="firstName-block" class="col-lg-6 col-sm-12 col-xs-12">
            <label  class="center-block" for="firstName"> First name: </label>
            <input  class="form-control" type="text" formControlName="name" id="firstName" [(ngModel)]="newAudience.name" name="firstName" required>
            <div *ngIf="formErrors.name" class="alert alert-danger">
              {{ formErrors.name }}
            </div>
          </div>

          <div id="lastName-block" class="col-lg-6 col-sm-12 col-xs-12">
            <label  class="center-block" for="lastName"> Last name: </label>
            <input  class="form-control" type="text" formControlName="surname" id="lastName" [(ngModel)]="newAudience.surname" name="lastName" required>
            <div *ngIf="formErrors.surname" class="alert alert-danger">
              {{ formErrors.surname }}
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col col-xs-12">
            <label  class="center-block" for="email"> Email: </label>
            <input  class="form-control" type="text" formControlName="email" id="email" [(ngModel)]="newAudience.email" name="email" required>
            <div *ngIf="formErrors.email" class="alert alert-danger">
              {{ formErrors.email }}
            </div>
          </div>
        </div>
      </div>

      <div class="sectionsInfo">
      <p>Audience Information</p>
      <div class="row">
        <div id="country-block" class="col-lg-6 col-sm-12 col-xs-12">
          <label for="typeahead-by-country">County:</label>
          <input id="typeahead-by-country" type="text"  formControlName="country" class="form-control" [(ngModel)]="newAudience.country" [ngbTypeahead]="searchByCountry"  required>
          <div *ngIf="formErrors.country" class="alert alert-danger">
            {{ formErrors.country }}
          </div>
        </div>
        <div id="city-block" class="col-lg-6 col-sm-12 col-xs-12">
          <label for="typeahead-by-city">City:</label>
          <input id="typeahead-by-city" type="text"  formControlName="city" class="form-control" [(ngModel)]="newAudience.city" [ngbTypeahead]="searchByCity">
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6 col-sm-12 col-xs-12">
          <label  class="center-block"> From age: </label>
          <input id="fromAge" class="form-control" type="number" formControlName="ageFrom" value="18" min="18" max="90" [(ngModel)]="newAudience.ageFrom" required>
          <div *ngIf="formErrors.ageFrom" class="alert alert-danger">
            {{ formErrors.ageFrom }}
          </div>
        </div>
        <div class="col-lg-6 col-sm-12 col-xs-12">
          <label  class="center-block"> To age: </label>
          <input id="toAge" class="form-control" type="number" formControlName="ageTo" value="20" min="18" max="90" [(ngModel)]="newAudience.ageTo" required>
          <div *ngIf="formErrors.ageTo" class="alert alert-danger">
            {{ formErrors.ageTo }}
          </div>
          <!--<p>{{newAudience.ageTo}}</p>-->
        </div>
      </div>
      <br>

      <div class="row">
        <div class="col col-xs-12">
          <label class="container" for="maleRadio">Male
              <input type="radio" id="maleRadio" formControlName="gender" class="with-gap" checked="checked" value="male"
                     [(ngModel)]="newAudience.gender" >
              <span class="checkmark"></span>
          </label>
          <label class="container" for="femaleRadio">Female
              <input type="radio" id="femaleRadio" formControlName="gender" class="with-gap" value="female" [(ngModel)]="newAudience.gender">
              <span class="checkmark"></span>
          </label>
          <label class="container" for="allRadio">All
            <input type="radio" id="allRadio" formControlName="gender" class="with-gap" value="all" [(ngModel)]="newAudience.gender">
            <span class="checkmark"></span>
          </label>
          <!--<p>{{newAudience.gender}}</p>-->
        </div>
      </div>

      <label class="center-block">Interests: </label>
      <form #formOfInterests="ngForm">
        <div >
          <div *ngFor="let interest of interestsList; let i=index" class="form-group" id="interests-block">
            <input type="text"  [(ngModel)]="interestsList[i].value" name="name{{i}}" class="form-control words" #name="ngModel" required />
          </div>
          <br />
        </div>
        <button class="btn btn-outline-info moreBtn" [disabled]="!formOfInterests.form.valid" (click)="addInterest()">More</button>
      </form>
      <!--<br />-->
      <!--<br />-->
      <!--{{interestsList | json }}-->
      <label class="center-block">Jobs: </label>
      <form #formOfJobs="ngForm">
        <div >
          <div *ngFor="let job of jobsList; let i=index" class="form-group" id="jobs-block">
            <input type="text" [(ngModel)]="jobsList[i].value" name="name{{i}}" class="form-control words" #name="ngModel" required />
          </div>
          <br />
        </div>
        <button class="btn btn-outline-info moreBtn" [disabled]="!formOfJobs.form.valid" (click)="addJob()">More</button>
      </form>
      <br />
      <br />
    </div>
      </div>

      <!-- right side-->
    <div class="col-6" style=" display: inline-block; background-color:#f7f7f7">
      <div class="row">
        <div class="col col-xs-12">
          <div ngbDropdown id="select-platform-block" class="d-inline-block dropdownPlatform">
            <button class="btn btn-outline-info" id="dropdownBasic1" ngbDropdownToggle>Choose Platform</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button (click)="setPlatform($event)" class="dropdown-item">Facebook</button>
              <button (click)="setPlatform($event)" class="dropdown-item">Instagram</button>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6 col-sm-12 col-xs-12">
          <label  class="center-block" for="login"> Login: </label>
          <input  class="form-control" type="text"  id="login" formControlName="login" [(ngModel)]="newAudience.login" required >
          <div *ngIf="formErrors.login" class="alert alert-danger">
            {{ formErrors.login }}
          </div>
        </div>

        <div class="col-lg-6 col-sm-12 col-xs-12">
          <label  class="center-block" for="password"> Password: </label>
          <input id="password" class="form-control" [type]="showPassword.checked ? 'text' : 'password'" formControlName="password" [(ngModel)]="newAudience.password" required>
          <div class="form-check">
            <label>
              <input id="showPassword" type="checkbox" #showPassword value="passwordIsShowing" name="check"> <span class="label-text">Show password</span>
            </label>
          </div>
          <div *ngIf="formErrors.password" class="alert alert-danger">
            {{ formErrors.password }}
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col col-xs-12">
          <label class="center-block">Message: </label>
          <textarea class="form-control" rows="3"  formControlName="message" [(ngModel)]="newAudience.message" required></textarea>
          <div *ngIf="formErrors.message" class="alert alert-danger">
            {{ formErrors.message }}
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <label  class="center-block" for="link"> Link: </label>
          <button type="button" class="btn-hint btn btn-outline-secondary btn-sm" placement="right"
                  ngbPopover="Please insert campaign link"
                  popoverTitle="Link Info">
            ?
          </button>
          <input  class="form-control" type="text" id="link" formControlName="link" [(ngModel)]="newAudience.link" required >
          <div *ngIf="formErrors.link" class="alert alert-danger">
            {{ formErrors.link }}
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col col-xs-12">
          <label  class="center-block" for="price"> Budget: </label>
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <input  class="form-control" type="text" id="price" formControlName="price" [(ngModel)]="newAudience.price" (ngModelChange)="calculateBudget()" required >
            <!--<input  class="form-control" type="text" id="price" formControlName="price" [(ngModel)]="newAudience.price" (ngModelChange)="calculateBudget($event)" required >-->
          </div>
            <div *ngIf="formErrors.price" class="alert alert-danger">
            {{ formErrors.price }}
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col col-xs-12">
          <label  class="center-block"> Campaign Duration: <b>{{timeOfCampaign}} days</b></label>
          <p id="hint" style="margin-bottom: 0"><em>*messages will not be sent on weekends</em></p>
        </div>
      </div>

      <div class="row">
        <div class="col col-xs-12">
          <label  class="center-block"> Estimate organic reach: <b>{{organicReach}}</b> </label>
        </div>
      </div>

      <!--modal window-->

      <ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header">
          <h4 class="modal-title">Thank you!</h4>
        </div>
        <div class="modal-body">
          <p>Form successfully submitted</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
        </div>
      </ng-template>

      <div class="col col-xs-12">
          <button id="submitForm_btn" type="submit" class="btn btn-primary" [disabled]="!audienceForm.valid" (click)="create(content)">Submit</button>
        </div>

    </div>
  </div>
  </form>
</div>
